* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

@media screen and (min-width: 226px) and (max-width: 768px) {
    .contact-header{
        height: 6em;
        display: flex;
        flex-direction: column;
        background-color: hsla(0, 0%, 50%, 0.15);
        align-items: center;
        text-align: center;
    }

    .phone-number {
        font-weight: 600;
    }
    
    .redes-header{
        font-size: 1.2em;
        word-spacing: 5px;
    }

    .redes-header .fa-whatsapp:hover {
        color:#25D366;
        font-weight: bold;
        font-size: 1.2em;
    }

    .redes-header .fa-linkedin-in:hover{
        color:#0072b1;
        font-weight: bold;
        font-size: 1.2em;
    }

    h1 {
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
    }
    
    .imglogo{
        width: 5em;
        margin-left: 50px;
    }
    
    .img-cards{
        width: 15em;
        height: 12em;
        margin-bottom: 12px;
    }

    .descripcion {
        border-bottom: 1px solid hsla(0, 0%, 50%, 0.15);
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-left: 0.5em;
    }

    .imagendeparrafo {
        background-image: url('../img/FOTO\ JERSSON.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment:local;
        width: 75%;
        height: 260px;
    }
    .parrafo{
        border: 1px solid hsla(0, 0%, 50%, 0.15);
        width: 15em;
        border-radius: 25px;
        margin-bottom: 5px;
        padding: 10px;
        transition: box-shadow 0.3s ease;
        background-color: #fff;
        border-radius: 0.5rem;
        padding: 0.6rem;
        cursor: pointer;
    }

    .texto{
        text-align: justify;
    }

    .parrafo:hover{
        box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
    }

    .cards {
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .card1{
        width: 15em;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .card2{
        width: 15em;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .card3{
        width: 15em;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    
    article {
        transition: box-shadow 0.3s ease;
        background-color: #fff;
        margin: 1rem 0;
        border-radius: 0.5rem;
        padding: 0.25rem 0;
        cursor: pointer;
    }
    
    article:hover {
        box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
    }
    
    article h3{
        margin: 1rem;
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline;
    }

    article p {
        margin: 1rem;
    }

    .link {
        font-weight: 800;
        text-decoration: none;
        color: black;
        background-color: hsla(0, 0%, 50%, 0.15);
        border-radius: 50px;
        padding: 5px;
        margin: 5px;
    }

    .certificados {
        text-align: center;
        font-weight: bold;
        text-decoration: underline;
    }

    footer {
        background-color: hsla(0, 0%, 50%, 0.15);
        border-top: 1px solid hsla(0, 0%, 0%, 0.05);
        padding: 0.2em;
        margin-top: 10px;
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .logofooter img{
        width: 150px;
        margin-left: 1.2em;
    }
    .redes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        letter-spacing: 10px;
        font-size: 20px;
    }    
    .derechos {
        text-align: center;
    }

    .about-me{
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: justify;
    }

    .skills{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .skills ul{
        list-style: none;
    }

    .menu-footer ul {
        margin-bottom: 10px;
        list-style: none;
    }

    .menu-footer li a{
        text-decoration: none;
        color: hsla(0, 0%, 0%, 0.7);
        margin-bottom: 20px;
    }

    h4{
        font-weight: 900;
        text-align: center;
        text-decoration: underline;
    }

    .redes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        letter-spacing: 10px;
        font-size: 30px;
    }

    .redes .fa-mobile-screen-button:hover{
        color:#000000;
        font-weight: bold;
        font-size: 1.2em;
    }

    .redes .fa-whatsapp:hover {
        color:#25D366;
        font-weight: bold;
        font-size: 1.2em;
    }

    .redes .fa-linkedin-in:hover{
        color:#0072b1;
        font-weight: bold;
        font-size: 1.2em;
    }

    .derechos {
        background-color: #0072b1;
        text-align: center;
        font-weight: bold;
    }
    .subir {
        height: 25px;
        width: 25px;
        background-color:hsla(0, 0%, 50%, 0.15);
        border-radius: 50%;
        position: fixed;
        transition: 0.7s;
        right: 10px;
        bottom: 5px;
        text-align: center;
        line-height: 26px;
        font-size: 20px;
        color: black;
        box-shadow: 0px 0px 5px 5px #fff;
    }

    .subir:hover {
        height: 35px;
        width: 35px;
        background-color: hsla(0, 0%, 50%, 0.15);
        border-radius: 50%;
        position: fixed;
        transition: 0.7s;
        right: 10px;
        bottom: 5px;
        padding-top: 5px;
        text-align: center;
        line-height: 26px;
        font-size: 25px;
        color: hsla(0, 0%, 0%, 0.8);
        box-shadow: 0px 0px 5px 5px #fff;
    }

    /*inicio de Css para formaci贸n-html versi贸n mobile*/

    .cards {
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .cards-estudios {
        transition: box-shadow 0.3s ease;
        border: 0.5px solid hsla(0, 0%, 50%, 0.15);
        background-color: #fff;
        cursor: pointer;
        width: 13em;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .cards-estudios:hover {
        box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
    }


    .cards-estudios h5{
        background-color: hsla(201, 100%, 35%, 0.5);
        margin: 1rem;
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline;
        font-weight: bold;
        border-radius: 5px;
        padding: 5px;
    }

    .cards-estudios p {
        margin: 1rem;
        text-align: justify;
    }

    article .text-tfooter {
        background-color: hsla(106, 75%, 66%, 0.938);
        padding: 5px;
        border-radius: 5px;
        text-align:center;
        font-weight: bold;
    }

    .text-tfooter1 {
        background-color: hsl(0, 85%, 68%);
        padding: 5px;
        border-radius: 5px;
        text-align: center;
        font-weight: bold;
    }

    .cards-estudios img{
        width: 12.82em;
        height: 12em;
        margin-bottom: 12px;
        border-radius: 10px;
    }

    .thead .desafiolatam {
        background-color: #000000;
    }

}

@media screen and (min-width: 769px) and (max-width: 1500px) {
        
    .contact-header{
        height: 3em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: hsla(0, 0%, 50%, 0.15);
        padding: 5px;
    }

    h1 {
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
    }

    .phone-number {
        font-weight: 800;
        margin-left: 5px;
        margin-top: 4px;
    }
    
    .redes-header{
        font-size: 1.5em;
        word-spacing: 10px;
        margin-top: 2px;
        margin-bottom: 3px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .redes-header .fa-whatsapp:hover {
        color:#25D366;
        font-weight: bold;
        font-size: 1.2em;
    }

    .redes-header .fa-linkedin-in:hover{
        color:#0072b1;
        font-weight: bold;
        font-size: 1.2em;
    }

    .imglogo{
        width: 5em;
    }
    .img-cards{
        width: 18em;
        height: 13.55em;
        margin-bottom: 1em;
    }

    .nav-link:hover{
        transition: box-shadow 0.3s ease;
        box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
        background-color: #fff;
        border-radius: 0.5rem;
        padding: 0.6rem;
        cursor: pointer;
    }

    .descripcion {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border-bottom: 1px solid hsla(0, 0%, 50%, 0.15);
    }

    .imagendeparrafo {
        background-image: url('../img/FOTO-JERSSON.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment:local;
        background-position: center;
        width: 25%;
        height: 300px;
        margin-bottom: 15px;

    }
    
    .parrafo{
        border: 1px solid hsla(0, 0%, 50%, 0.15);
        width: 50%;
        height: 40%;
        border-radius: 25px;
        margin-top: 30px;
        margin-bottom: 20px;
        padding: 10px;
        transition: box-shadow 0.3s ease;
        background-color: #fff;
        border-radius: 0.5rem;
        padding: 0.6rem;
        cursor: pointer;
    }
    .texto {
        text-align: justify;
    }
    .parrafo:hover{
        box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
    }

    .cards {
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .card1{
        width: 18em;
        margin-top: 5px;
        margin-bottom: 10px;
        display: flex;
    }
    .card2{
        width: 18em;
        margin-top: 5px;
        margin-bottom: 10px;
        display: flex;
    }
    .card3{
        width: 18em;
        margin-top: 5px;
        margin-bottom: 10px;
        display: flex;
    }

    article {
        transition: box-shadow 0.3s ease;
        background-color: #fff;
        border-radius: 0.5rem;
        padding: 0.25rem 0;
        cursor: pointer;
    }

    article:hover {
        box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
    }

    article h3{
        margin: 1rem;
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline;
    }

    article p {
        margin: 1rem;
    }

    .link {
        font-weight: 800;
        text-decoration: none;
        color: black;
        background-color: hsla(0, 0%, 50%, 0.15);
        border-radius: 50px;
        padding: 5px;
        margin: 1em;
    }

    .certificados{
        text-align: center;
        margin-bottom: 15px;
        margin-top: 15px;
        font-weight: bold;
        text-decoration: underline;
    }

    footer {
        background-color: hsla(0, 0%, 50%, 0.15);
        border-top: 1px solid hsla(0, 0%, 0%, 0.05);
        padding: 0.2em;
        margin-top: 2em;
    }
    .logofooter img{
        width: 150px;
    }

    .footer {
        display: flex;
        justify-content: space-evenly;
    }

    .about-me{
        border: 1px solid hsla(0, 0%, 50%, 0.1);
        width: 35%;
        border-radius: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        transition: box-shadow 0.3s ease;
        border-radius: 0.5rem;
        padding: 0.6rem;
        cursor: pointer;
        text-align: justify;
    }

    .skills{
        border: 1px solid hsla(0, 0%, 50%, 0.15);
        width: 20%;
        height: 35%;
        border-radius: 25px;
        margin-top: 10px;
        padding: 10px;
        transition: box-shadow 0.3s ease;
        border-radius: 0.5rem;
        padding: 0.6rem;
        cursor: pointer;

    }

    .menu-footer {
        border: 1px solid hsla(0, 0%, 50%, 0.15);
        width: 20%;
        height: 40%;
        border-radius: 25px;
        margin-top: 10px;
        padding: 10px;
        transition: box-shadow 0.3s ease;
        border-radius: 0.5rem;
        padding: 0.6rem;
        cursor: pointer; 
    }

    .menu-footer ul {
        margin-top: 20px;
        display: flex;
        flex-direction: column;

    }

    h4{
        font-weight: 700;
    }

    .menu-footer li a{
        text-decoration: none;
        color: hsla(0, 0%, 0%, 0.7);
        font-weight: 500;
        margin-bottom: 20px;
        border-spacing: 2px ;
    }
    .redes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        letter-spacing: 10px;
        font-size: 30px;
    }

    .redes .fa-mobile-screen-button:hover{
        color:#000000;
        font-weight: bold;
        font-size: 1.2em;
    }

    .redes .fa-whatsapp:hover {
        color:#25D366;
        font-weight: bold;
        font-size: 1.2em;
    }

    .redes .fa-linkedin-in:hover{
        color:#0072b1;
        font-weight: bold;
        font-size: 1.2em;
    }

    .derechos {
        text-align: center;
        font-weight: bold;
    }
    .subir {
        height: 25px;
        width: 25px;
        background-color:hsla(0, 0%, 50%, 0.15);
        border-radius: 50%;
        position: fixed;
        transition: 0.7s;
        right: 10px;
        bottom: 5px;
        text-align: center;
        line-height: 26px;
        font-size: 20px;
        color: black;
        box-shadow: 0px 0px 5px 5px #fff;
    }
    .subir:hover {
        height: 35px;
        width: 35px;
        background-color: hsla(0, 0%, 50%, 0.15);
        border-radius: 50%;
        position: fixed;
        transition: 0.7s;
        right: 10px;
        bottom: 5px;
        padding-top: 5px;
        text-align: center;
        line-height: 26px;
        font-size: 25px;
        color: hsla(0, 0%, 0%, 0.8);
        box-shadow: 0px 0px 5px 5px #fff;
    }

        /*inicio de Css para formaci贸n-html versi贸n mobile*/

    .cards {
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .cards-estudios {
        transition: box-shadow 0.3s ease;
        border: 0.5px solid hsla(0, 0%, 50%, 0.15);
        background-color: #fff;
        cursor: pointer;
        width: 18.2em;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .cards-estudios:hover {
        box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
    }


    .cards-estudios h5{
        background-color: hsla(201, 100%, 35%, 0.5);
        margin: 1rem;
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline;
        font-weight: bold;
        border-radius: 5px;
        padding: 5px;
    }

    .cards-estudios p {
        margin: 1rem;
        text-align: justify;
    }

    article .text-tfooter {
        background-color: hsla(106, 75%, 66%, 0.938);
        padding: 5px;
        border-radius: 5px;
        text-align: center;
        font-weight: bold;
    }

    article .text-tfooter1 {
        background-color: hsl(0, 85%, 68%);
        padding: 5px;
        border-radius: 5px;
        text-align: center;
        font-weight: bold;
    }

    .cards-estudios img{
        width: 18em;
        height: 12em;
        margin-bottom: 12px;
        border-radius: 10px;
    }

    .thead .desafiolatam {
        background-color: #000000;
    }
}